@page "/book/add"
@rendermode InteractiveServer
@attribute [StreamRendering]
@inject IBookService bookService
@inject NavigationManager navigationManager


<h3 class="fw-bold text-center my-3 bg-primary rounded text-white p-2">New Book</h3>

<div class="d-flex flex-column shadow-lg border-0 rounded-5 p-4">
    <EditForm Model="book" OnValidSubmit="AddNewBook">

        <DataAnnotationsValidator />

        <div class="mb-3">
            <BPInputText Label="Title" @bind-Value="book.Title" PlaceHolder="El Quijote" />
        </div>

        <div class="mb-3">
            <BPInputText Label="Author" @bind-Value="book.Author" PlaceHolder="Cervantes" />
        </div>

        <div class="mb-3">
            <label class="mb-2">Book Image:</label>
            <InputFile class="form-control text-muted" @bind-Value="book.BookImage"/>
        </div>

        <div class="mb-3">

            <label class="form-label fw-bold">State</label>
            <InputCheckbox class="form-check text-muted" type="checkbox" @bind-Value="book.State" />
        </div>

        <BPButton Variant="Variant.Success" Width="Width.Full">Add Book</BPButton>

    </EditForm>
</div>

@code {
    private Book book = new Book();

    private void AddNewBook()
    {
        if (string.IsNullOrEmpty(book.Title) || string.IsNullOrEmpty(book.Author))
        {
            return;
        }

        var newBook = new Book
        {
            Author = book.Author,
            Title = book.Title,
            State = book.State
        };

        bookService.AddNewBook(newBook);
        StateHasChanged();

        navigationManager.NavigateTo("/");
    }


}
