@page "/add"
@rendermode InteractiveServer
@attribute [StreamRendering]
@inject IBookService bookService


<h3 class="fw-bold text-center my-3 bg-primary rounded text-white p-2">New Book</h3>

<div class="d-flex flex-column shadow-lg border-0 rounded-5 p-4">
    <form>
        <div class="mb-3">

            <label class="form-label fw-bold">Title</label>
            <input class="form-control text-muted" @bind="title" placeholder="El Quijote" required />
        </div>

        <div class="mb-3">

            <label class="form-label fw-bold">Author</label>
            <input class="form-control text-muted" @bind="author" placeholder="Cervantes" required />

        </div>

        <div class="mb-3">

            <label class="form-label fw-bold">State</label>
            <input class="form-check text-muted" type="checkbox" @bind="state" />
        </div>

        <BPButton Variant="Variant.Success" Width="Width.Full" OnClick="AddNewBook">Add Book</BPButton>
        
    </form>
</div>

@code {

    private string title = string.Empty;
    private string author = string.Empty;
    private bool state = false;

    private void AddNewBook()
    {
        if (string.IsNullOrEmpty(title) || string.IsNullOrEmpty(author))
        {
            return;
        }

        var book = new Book
            {
                Author = author,
                Title = title,
                State = state
            };

        bookService.AddNewBook(book);
        StateHasChanged();
    } 


}
