@page "/"
@attribute [StreamRendering]
@rendermode InteractiveServer
@inject IBookService bookService

<PageTitle>Home</PageTitle>

<h1 class="fw-bold text-center my-3 bg-primary rounded text-white p-2">Library</h1>
<BooksList Books="books" />

@code {
    private List<Book> books = null!;


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {

        if (!firstRender) return;

        await Task.Delay(2000);

        books = bookService.GetBooks();

        StateHasChanged();

    }
}
