@page "/category/add"
@rendermode InteractiveServer

<h3>Add Category</h3>


<EditForm Model="category" OnValidSubmit="Add">

    <DataAnnotationsValidator/>

    <BPInputText Label="Name" @bind-Value="category.Name" PlaceHolder="Action"/>

    <BPButton ButtonType="ButtonType.Sumbit"/>
</EditForm>


@code {
    private Category category = new Category();

    private void Add()
    {
        Console.WriteLine($"Categoria agregada: {category.Name}");
    }
}
