<div class="card border-0 shadow-lg rounded-5 m-5 p-4 d-flex flex-column gap-2"
     style="background: linear-gradient(135deg, #f8f9fa, #e9ecef);">
    
    <h4 class="fw-bold text-primary">@Title</h4>
    <p class="text-secondary mb-0">@State</p>
    <p class="text-muted">@Author</p>
</div>




@code {

    [Parameter, EditorRequired] public string Title { get; set; }

    [Parameter] public bool State { get; set; } = false; 

    [Parameter, EditorRequired] public string Author { get; set; }

}
