<div class="card h-100 shadow-lg rounded-2 border-0 mx-2">
    <img src="@Book.BookImage" class="card-img-top book-image" alt="@Book.Title" />
    <div class="card-body d-flex flex-column">

        <h6 class="fw-bold fst-italic">@Book.Title</h6>
        <p class="text-muted small mb-2">@Book.Author</p>

        <div class="mt-auto d-flex gap-2 justify-content-end">
            @ChildContent
        </div>

    </div>

</div>




@code {
    [Parameter, EditorRequired] public Book Book { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }

}
