<div class="my-2">
    <button class="btn btn-primary w-100" @onclick="OnClick" type="button"> @ChildContent </button>
</div>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; } =@<text>Sumbit</text>;
    [Parameter] public EventCallback OnClick { get; set; }
}
