@using blazor_personal_library.Features.Authors.Entities

<div class="card h-100 shadow-lg rounded-2 border-0 mx-2">
    <img src="@Author.ImageUrl" class="card-img-top book-image" alt="@Author.Name" />
    <div class="card-body d-flex flex-column">

        <h6 class="fw-bold fst-italic">@Author.Name</h6>

        <div class="mt-auto d-flex gap-2 justify-content-end">
            @ChildContent
        </div>

    </div>

</div>




@code {
    [Parameter, EditorRequired] public Author Author { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }

}
